<h2>Edit <%= resource_name.to_s.humanize %></h2>
<% if resource == current_user && resource.avatar.attached? %>
  <%= button_to "Remove avatar", purge_avatar_user_path(resource),
                data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
                method: :delete,
                class: "btn btn-sm btn-secondary" %>
<% end %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group w-50">
    <div class="row">
      <div class="col-sm-4">
        <%= render_user_avatar(resource, 100, class: "rounded") %>
      </div>
      <div class="col-sm-8">
        <%= f.label :avatar, "Profile picture", class: "form-label" %>
        <%= f.file_field :avatar, class: "form-control form-control-lg mb-1", accept: 'image/png,image/jpeg' %>
      </div>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.fields_for :user_information do |form| %>
    <div class="form-group w-50">
      <div class="field">
      <%= form.label :date_of_birth %><br />
      <%= form.date_select :date_of_birth,
                           start_year: Date.today.year - 120,
                           end_year: Date.today.year,
                           order: [:day, :month, :year] %>
      </div>
      <div class="field">
        <%= form.label :hometown, "Hometown", class: "form-label" %>
        <%= form.text_field :hometown,
                          class: "form-control form-control-lg mb-1",
                          placeholder: "Where are you from?" %>
      </div>

      <div class="field">
        <%= form.label :about_me, "About Me", class: "form-label" %>
        <%= form.text_area :about_me,
                          size: "70x6",
                          class: "form-control form-control-lg mb-1",
                          placeholder: "Something about yourself..." %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="accordion mt-4" id="deleteAccountAccordion" style="width: fit-content;">
  <div class="accordion-item">
    <h3 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <span class="me-2">Cancel my account</span>
      </button>
    </h3>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#deleteAccountAccordion">
      <div class="accordion-body">
        <strong>Unhappy?</strong>
        <div> <%= button_to "Cancel my account", registration_path(resource_name),
                            data: { confirm: "Are you sure?",
                            turbo_confirm: "Are you sure?" },
                            method: :delete,
                            class: "btn btn-danger" %></div>
      </div>
    </div>
  </div>
</div>

<div class="my-2"><%= link_to "Back", :back %></div>

