<div id="<%= dom_id(comment) %>">
  <article class="container card mb-2 py-2">
    <%= render 'shared/author', text: comment, thumbnail: "thumbnail-sm" %>
    <p class="pt-2 ms-2"><%= comment.body %></p>
    <%= render 'shared/date_published', date_published: comment.created_at %>
  
    <%= render 'likes/modal', type: "comment", likeable: comment, parent: commentable %>
  </article>
  <small>
    <%= render partial: 'likes/button', locals: { likeable: comment, liker: user } %>
  </small>
</div>
