<% model = [local_assigns[:commentable], comment].compact %>
<%= form_with model: model, id: dom_id_for_records(*model) do |f| %>
  <% if f.object.errors.any? %>
    <div data-controller="flash" role="alert" class="alert alert-danger alert-dismissible fade show">
      <% f.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <% end %>
    </div>
  <% end %>
  <div class="form-group w-50">
    <%= f.label :body, "Comment Body", class: "form-control visually-hidden" %>
    <%= f.text_area :body, class: "form-control form-control-sm mb-1", placeholder: "Write a comment" %>
  </div>
  <%= f.submit class: "btn btn-outline-primary btn-sm"%>
  <%= link_to "Cancel", comment, class: "btn btn-link" if f.object.persisted? %>
<% end %>
