<% if likeable.likes.size.positive? %>
  <!-- Button trigger modal -->
  <a href="#"
     class="link-underline-primary"
     data-bs-toggle="modal"
     data-bs-target="#<%= type %>LikesModal<%= likeable.id %>">

    <div class="like-count <%= type %>">
      <i class="bi bi-hand-thumbs-up"></i> <%= "#{like_sentence_helper(likeable.likes.size)}" %>
    </div>

  </a>

  <!-- Modal -->
  <div class="modal fade"
        id="<%= type %>LikesModal<%= likeable.id %>"
        tabindex="-1"
        aria-labelledby="<%= type %>LikesModalLabel"
        aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="<%= type %>LikesModalLabel">Likes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= turbo_frame_tag "#{type}_likes_#{likeable.id}", src: likes_index_path(likeable:, parent:), loading: "lazy" do %>
            <div>Likes go here...</div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
<% end %>
