<div id="<%= dom_id user %>" class="card mb-3">
    <%= render_user_avatar(user, 128, class: "rounded") %>
    <strong><%= user.full_name %></strong>
    <strong><%= user.date_of_birth.strftime("Born on %d/%m/%Y") %></strong>
    <strong><%= user.hometown %></strong>
    <strong><%= user.about_me %></strong>
    <%= link_to "Edit account", edit_user_registration_path if current_user == user %>
</div>
