<div id="<%= dom_id user %>" class="card mb-3">
    <strong><%= user.full_name %></strong>
    <strong><%= user.date_of_birth.strftime("Born on %d/%m/%Y") %></strong>
    <strong><%= user.hometown %></strong>
    <strong><%= user.about_me %></strong>
    <%= link_to "Edit user information", edit_user_user_information_path(@user) if @user == current_user %>
</div>
