<h1>Users</h1>
<%= render 'search_form', search_path: users_path, turbo_id: 'users' %>
<%= turbo_frame_tag "users" do %>
  <%= paginate @users, remote: true, theme: 'users' %>
  <div class="container my-4">
    <% @users.each do |faceclone_user| %>
      <% friend_request = faceclone_user.friend_status(Current.user) || FriendRequest.new %>
      <div class="row my-3 py-2 border rounded">
        <div class="col pt-2">
          <%= render 'user_with_avatar',
                      user: faceclone_user,
                      avatar_resolution: 100,
                      options: {data: { turbo_frame: "_top" }} %>
        </div>
        <div class="col d-flex align-items-center">
          <%= render 'friend_buttons',
                      user: Current.user,
                      other_user: faceclone_user,
                      friend_request: %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @users, remote: true, theme: 'users' %>
<% end %>
