<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <div class="user_<%= user.id %> mb-2">
      <%= link_to user do %>
        <%= render_user_avatar(user, 100, class: "rounded thumbnail-lg") %>
        <%= user.full_name %>
      <% end %>
    </div>
    <%= render 'friend_buttons', 
                user: user,
                friend_request: @friend_requests.mutual(user, current_user) || FriendRequest.new %>
  <% end %>
</div>
