<div class="container mb-5">
  <%= render @user %>
  
  <%= link_to 'Friends', friends_path %>
  <%= link_to 'Friend Requests', user_friend_requests_path(@user) if @user == current_user %>
  
  <%= render 'friend_buttons', user: @user, friend_request: @friend_request %>
  
  <% if @user == current_user %>
    <div class="mb-3">
      <%= render partial: 'posts/form', locals: { author: @user, post: Post.new } %>
    </div>
  <% end %>
  
  <%= render partial: 'posts/index', locals: { posts: @posts } %>
</div>
