<small>
  <span>
    <% if text.author %>
      <%= link_to(text.author) do %>
        <%= render_user_avatar(text.author, 128, class: "rounded-circle #{thumbnail}") %>
        <%= text.author.full_name %>
      <% end %>
    <% else %>
      <%= image_tag "avatars/user-not-found.png", size: "20x20", alt: "Deleted user", class: "rounded" %>
      <%= "[deleted]" %>
    <% end %>
  </span>
  <span
    style="border-bottom: 1px dotted; text-decoration: none;"
    title="<%= text.created_at.localtime.to_fs(:db) %>">
      <%= time_ago_in_words text.created_at %> ago
  </span>
</small>
