<small>
  <span>
    <% if text.author %>
      <%= link_to(text.author, class: "user-avatar", data: { turbo_frame: "_top" }) do %>
        <%= render_user_avatar(text.author, 128, class: "rounded-circle #{thumbnail}") %>
        <%= text.author.full_name %>
      <% end %>
    <% else %>
      <%= image_tag "avatars/user-not-found.png", size: "20x20", alt: "Deleted user", class: "rounded" %>
      <%= "[deleted]" %>
    <% end %>
  </span>
</small>
