<div class="container" id="<%= dom_id post %>">
  
  <article class="container mb-2">
      <%= render 'shared/author', text: post, thumbnail: "thumbnail-md" %>
      <p class="pt-3 ms-2"><%= post.body %></p>
      <%= render 'shared/date_published', date_published: post.created_at %>
      <br>
      <%= render 'likes/modal', type: "post", likeable: post, parent: nil %>
  </article>

  <%= render partial: 'likes/button', locals: { likeable: post, liker: user } %>

  <%= turbo_stream_from user&.to_gid_param %>
  <%= turbo_stream_from post, :comments %>
  <%= render partial: 'comments/comments', locals: { commentable: post, user: user, author: user } %>
  <%= render partial: 'comments/form', locals: { commentable: post, comment: Comment.new } %>
</div>
