<div class="container" id="<%= dom_id post %>">
  
  <article class="container mb-2">
      <p class="pt-3"><%= post.body %></p>

      <%= render 'shared/author', text: post, thumbnail: "thumbnail-md" %>
      <br>
      <%= render 'likes/modal', type: "post", likeable: post, parent: nil %>
    </article>

  <p><%= render partial: 'likes/button', locals: { likeable: post } %></p>
  <p><%= render partial: 'comments/comments', locals: { commentable: post } %></p>
  <p><%= render partial: 'comments/form', locals: { commentable: post } %></p>
</div>
