<%= render @post, user: Current.user %>

<div>
  <% if @post.author == Current.user %>
    <%= link_to "Edit this post", [:edit, @post.author, @post] %> |
    <%= link_to "Back to posts", posts_path %>

    <%= button_to "Destroy this post",
                  user_post_path(@post.author, @post),
                  method: :delete,
                  class: "btn btn-danger",
                  data: { turbo_confirm: "Are you sure?" } %>
  <% else %>
    <%= link_to "Back to posts", posts_path %>
  <% end %>
</div>
